doctype html
html(lang='fr-ca')
 head
   title Lakou Garou
   link(rel="stylesheet", href="styles/style.css")
   style(type='text/css')
   script(src='js/libs/socket.io.min.js' defer)
   script(src='js/app.js' defer)
 body
     include ztemplates/login.pug