doctype html
html(lang='fr-ca')
 head
   title Lakou Garou
   link(rel="stylesheet", href="styles/style.css")
   link(rel="manifest" href="/site.webmanifest")
   link(rel="icon", type="image/x-icon" href="/favicon.ico")
   style(type='text/css')
   script(src='js/libs/socket.io.min.js' defer)
   script(src='js/parts/redirect.js' defer)
   script(src='js/parts/connection.js' defer)
   script(src='js/app.js' defer)
   