@tailwind base;
@tailwind components;
@tailwind utilities;


.bg-primary-600 {
    background-color: blue;
}

.setFont_HelpMe {
    font-family: 'HelpMe';
}

@font-face {
    font-family: "HelpMe";
    src: url('../assets/font/HelpMe.woff2') format('woff2')
  }


/*FADE OUT */
.hidden {
visibility: hidden;
opacity: 0;
transition: visibility 0s 2s, opacity 2s linear;
}

.visible {
    visibility: visible;
    opacity: 1;
    transition: visibility 0s 2s, opacity 2s linear;  
}