include ../ztemplates/head.pug
section.welcome 
    div.w-full.h-screen.bg-center.bg-cover(style="Background-image: url('assets/img/menu/Menu 1.jpg')")
    div 
        a.animate-pulse.setFont_HelpMe.text-base 